-----BEGIN CERTIFICATE-----
MIIEdDCCA1ygAwIBAgIJAJU3bfI5DkGlMA0GCSqGSIb3DQEBBQUAMIGCMQswCQYD
VQQGEwJSVTEPMA0GA1UECBMGTW9zY293MQ8wDQYDVQQHEwZNb3Njb3cxEjAQBgNV
BAoTCU5HSU5YIEluYzEOMAwGA1UECxMFbmdpbngxDjAMBgNVBAMTBW5naW54MR0w
GwYJKoZIhvcNAQkBFg5jZXJ0QG5naW54LmNvbTAeFw0xMTA3MjkxMjI5NTBaFw0x
NjA3MjcxMjI5NTBaMIGCMQswCQYDVQQGEwJSVTEPMA0GA1UECBMGTW9zY293MQ8w
DQYDVQQHEwZNb3Njb3cxEjAQBgNVBAoTCU5HSU5YIEluYzEOMAwGA1UECxMFbmdp
bngxDjAMBgNVBAMTBW5naW54MR0wGwYJKoZIhvcNAQkBFg5jZXJ0QG5naW54LmNv
bTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANkLVzSRW15XvszEqTPH
Jy4120RRnKGURt73Cgth6KelNOWjovvtlhj9Av1LIHDPD2lU5ZQ0VpJtUI9X6WOW
1RbUJnCJif7yrvCIzApNGVBzO1HUAXdhRUqPzelgL9dfta9uGGUtL2OoDO3KfXOr
uvGbr1POes/vqPJvLaNOkQtuw28pkbWuAecDkGAfHdr5sTu890aL+0axB1Jr+/SU
jBh0BEnunw3E4cCBV4Yx2AYQK+UyWFBHGRC3X9/1nve5aPyTznTuOfhlBoWjCNvU
TtoIrABU8w/UEdce0H4uwBY7W2XUhMFDkk2dNnGWB5X+fIPv0wvjdU0+tIH6nMbF
khsCAwEAAaOB6jCB5zAdBgNVHQ4EFgQU0LpTeegTzq2Bth90KktecxvZuLkwgbcG
A1UdIwSBrzCBrIAU0LpTeegTzq2Bth90KktecxvZuLmhgYikgYUwgYIxCzAJBgNV
BAYTAlJVMQ8wDQYDVQQIEwZNb3Njb3cxDzANBgNVBAcTBk1vc2NvdzESMBAGA1UE
ChMJTkdJTlggSW5jMQ4wDAYDVQQLEwVuZ2lueDEOMAwGA1UEAxMFbmdpbngxHTAb
BgkqhkiG9w0BCQEWDmNlcnRAbmdpbnguY29tggkAlTdt8jkOQaUwDAYDVR0TBAUw
AwEB/zANBgkqhkiG9w0BAQUFAAOCAQEAg0V6brqLVX+xe8KIM+cYQdJfpcKiSi+D
2sr55EyAbBR+fMs8AWBae5UxlI7Ep4eldh9yWTR3F8X7WrSvWq/aGHdyG/nDWGzG
z5L5ONxVdl5+O3zrjIwduaJZWZwVIFxZ8CdnKOZCEteE3uFxRHDIY5V1wp6l2kWm
UtY/LFzmIYlhY+0JW/IFCO6ql/pxDdsjNrNu+r+d01XUvCAKgN0+2yfXuWgBmQ3c
hhsuczcOdagfE00sjQiVStT0H1wraB0fsEVQctMDyQuqBhQBk1m7ZSCFf69zbxM2
6HK2/NYXp8+9qAgFMuvGHBlcpyH1CRSFPK1SUzkRWnNq27M8z9UUEQ==
-----END CERTIFICATE-----
