-----BEGIN CERTIFICATE-----
MIIDrDCCApSgAwIBAgICAowwDQYJKoZIhvcNAQEFBQAwXjELMAkGA1UEBhMCUlUx
DzANBgNVBAgMBk1vc2NvdzEPMA0GA1UEBwwGTW9zY293MRIwEAYDVQQKDAlOR0lO
WCBJbmMxGTAXBgNVBAMMEG5naW54IGNsaWVudHMgQ0EwHhcNMTQwODE4MjIwMDAw
WhcNMTQwOTIwMjIwMDAwWjB3MQswCQYDVQQGEwJSVTEPMA0GA1UECBMGTW9zY293
MQ8wDQYDVQQHEwZNb3Njb3cxEjAQBgNVBAoTCU5HSU5YIEluYzEcMBoGA1UECxMT
Q2xpZW50IGNlcnRpZmljYXRlczEUMBIGA1UEAxMLQS1TMDAwMDA2NTAwggEiMA0G
CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC4vVfGNStZtOhIeIQnHqF/RFO9+9zh
G8fb7hdQVwycFqv/3omSCAsorZw4T235W5hBbENP1CcPNSFexAQCCNMa0879MogH
3sOpYfzqqx70tnKDsQUuS1dMCAGimTV7IGk3/Qak7x8I+JBxtiooVK71BnAxWvOB
4TblH7gRJ1EF0PjtLgdCBw5wGfB0zVxRstSJK7h/YeB/aP2PBB+M0g+PM4kf6YVX
8qQf+VjXJ6HpmzS+GePAKB2Ccrt+uA+o8e1NoyGwhNOBCIV/xASHDVglLfHweDkb
+p6O69NFPQuArS8PMuzYZZh4QA5+eEnjkthjIRsxjPDRWECpPHh2epO3AgMBAAGj
WzBZMCEGCWCGSAGG+EIBDQQUFhJUcmlhbCBzdWJzY3JpcHRpb24wDgYDVR0PAQH/
BAQDAgOIMAwGA1UdEwEB/wQCMAAwFgYDVR0lAQH/BAwwCgYIKwYBBQUHAwIwDQYJ
KoZIhvcNAQEFBQADggEBAAxJw3c3lzo4tNNv3avCGXRzNvv+klI86JfDGVqL7w0t
DBCAmBb1ZHyItyZKaQv8hNgTkTgpekqlH45+xDjgU3l1wXCoy+zPhRKTAbap5TMw
rUZEwsgCBpil5ILQqfvoYqXtWTOHEgIgwjj4QyapJZdiYJouc0WvbItMYj1SBxEi
+vlI1u0uyQuMpeu60yUjcQEph36hxGCVI6Zf3LI629c9bqxjTFB1C/MPquzVkJ8d
6HaAK1ITJStm2DJmPP/jdvr0CDTMuJvmCH/Wyqhyq33epfVF5jnDypbCyyYkGnA8
2eBY+BH2Rn7ixhGVDcD22ch+/GulufEZXGW0jlxMft4=
-----END CERTIFICATE-----
